@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}

@keyframes call-glow {
  0% {
    box-shadow: 0 0 0 0 rgba(250, 204, 21, 0.6);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(250, 204, 21, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(250, 204, 21, 0);
  }
}

@keyframes ring {
  0% { transform: rotate(0); }
  10% { transform: rotate(15deg); }
  20% { transform: rotate(-15deg); }
  30% { transform: rotate(10deg); }
  40% { transform: rotate(-10deg); }
  50% { transform: rotate(5deg); }
  60% { transform: rotate(-5deg); }
  100% { transform: rotate(0); }
}

.call-glow {
  animation: call-glow 2.5s infinite;
}

.call-ring {
  animation: ring 2s infinite;
}
